
<script type="text/javascript">


<% if false %>

myposts = [
<% @posts.each do |post| %>
  <%= raw render(partial: '/posts/post.json', object: post) %>,
<% end %>
]

<% end %>
</script>



<style type="text/css">


.animate-enter, 
.animate-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: skewX(45deg) skewY(30deg);
    -moz-transform: skewX(45deg) skewY(30deg);
    -ms-transform: skewX(45deg) skewY(30deg);
    -o-transform: skewX(45deg) skewY(30deg);
    transform: skewX(45deg) skewY(30deg);
    opacity: 0;
    height: 0px;
}        
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: skewX(0deg) skewY(0deg);
    -moz-transform: skewX(0deg) skewY(0deg);
    -ms-transform: skewX(0deg) skewY(0deg);
    -o-transform: skewX(0deg) skewY(0deg);
    transform: skewX(0deg) skewY(0deg);
    opacity: 1;
    height: 30px;
}

</style>


<section  id="posts"
          ng-controller="PostsCtrl"
          data-url="<%= @url %>"
          >


  <div class="post" ng-repeat="post in list" ng-animate=" 'animate' ">

    <a class="photo" href="/{{post.link}}" style=""><img src="/images/old_default_user_photo/original.png" width="40"></a>
    <p class="text" data-id="{{post.id}}">
      <a href="/{{post.site.link}}">@{{post.site.link}}</a>
      {{post.verb}}:
      <a href="/">{{post.text}}</a>
    </p>
    <input class="reply-trigger" type="text" placeholder="reply...">
    <div class="reply-box">
      <textarea rows="2"></textarea>
      <a href="#" class="btn" onclick="alert('not working yet');$(this).closest('.reply-box').hide('fast')">reply!</a>
    </div>

    <div class="comments">

      <div class="comment" ng:repeat="comment in post.comments">
        <a class="photo" href="/edgala" style=""><img src="/images/old_default_user_photo/original.png" width="25"></a>
        <p class="text">
          <a href="/{{comment.site.link}}">@{{comment.site.link}}</a>
          {{comment.verb}}:
          <a href="/">{{comment.text}}</a>
        </p>
      </div>
    </div>

  </div>


  <a class="btn btn-large btn-block" href="" ng-click="before()" ng-show='showing_more' ng-animate=" 'fade1' ">MORE</a>


<div id="bowlG" ng-show='showing_busy'>
<div id="bowl_ringG">
<div class="ball_holderG">
<div class="ballG">
</div>
</div>
</div>
</div>


<footer style="position: fixed;bottom: 0;left: 0; z-index:2">

  <div class="container">

    <form accept-charset="UTF-8" id="new_post" ng-submit="submit()">
      <input autocomplete="off" id="post_text" ng-model="new_post.post.text" type="text">
      <input class="btn btn-executter" type="submit" value="Executter">
    </form>

  </div>


</footer>


</section>


<aside id="users_online">
  <% User.limit(50).order(last_activity_at: :desc).each do |user| %>
    <%= link_to '#', class: "btn btn-block btn-link #{user_online_state(user)}" do %>
      <img src="/images/old_default_user_photo/original.png" width="30">
      <%= user.l_ %>
    <% end %>
  <% end %>
</aside>