#bowlG{
margin: 50px auto;

position:relative;
width:150px;
height:150px;
}

#bowl_ringG{
position:absolute;
width:150px;
height:150px;
border:1px solid #FF9900;
-moz-border-radius:150px;
-webkit-border-radius:150px;
-ms-border-radius:150px;
-o-border-radius:150px;
border-radius:150px;
}

.ball_holderG{
position:absolute;
width:40px;
height:150px;
left:55px;
top:0px;
-moz-animation-name:ball_moveG;
-moz-animation-duration:3.1s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:3.1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:ball_moveG;
-ms-animation-duration:3.1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:ball_moveG;
-o-animation-duration:3.1s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:ball_moveG;
animation-duration:3.1s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-35px;
width:60px;
height:60px;
background:#0088cc;
-moz-border-radius:50px;
-webkit-border-radius:50px;
-ms-border-radius:50px;
-o-border-radius:50px;
border-radius:50px;
}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(360deg)}

100%{
-moz-transform:rotate(0deg)}

}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(360deg)}

100%{
-webkit-transform:rotate(0deg)}

}

@-ms-keyframes ball_moveG{
0%{
-ms-transform:rotate(360deg)}

100%{
-ms-transform:rotate(0deg)}

}

@-o-keyframes ball_moveG{
0%{
-o-transform:rotate(360deg)}

100%{
-o-transform:rotate(0deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(360deg)}

100%{
transform:rotate(0deg)}

}