#notice {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 3px;
}

.section {
  border-top: 5px solid #666;
  margin-bottom: 50px;
}


.sidebar-right-1 {
  float:right;
  display: inline-block;
  width: 100px;
  min-height: 800px;
  .img-polaroid {
    display:block; margin-bottom: 10px;
    font-size:10px;
    &:hover {
      text-decoration: none;
      span { text-decoration: underline; }
    }
  }
  .follower {
    span { display: block; }
  }
  .my-big-button {
    text-align:center;
    i { font-size: 50px;width:100%;margin:14px auto; }
    span { display: block; }
  }
  .my-small-button {
    font-size: 12px;
    text-align: center;
  }
  /*

  span.label {
    display: block; margin-bottom: 5px;
    text-align: center;
  }
  .btn { margin-bottom: 5px; }
  */
}